.controls {
  display: flex;
  max-width: 600px;
  justify-content: space-around;
}

.info__item {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  border-radius: 10px 10px 0 0;
  transition: .4s;
}

.info__item:hover {
  cursor: pointer;
  background: grey;
}

.btn {
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;
  background: #0366d6;
  color: #fff;
  border: 1px solid #fff;
  transition: .4s;
  &:not([disabled]):hover{
    cursor: pointer;
    background: #fff;
    color: #0366d6;
    border: 1px solid #0366d6;
  }
  &:disabled{
    background: #A9A9A9;
    color: #000000;
  }
}

.btn:hover {
}
